@{
    var filteredProducts = ViewBag.filteredProducts as List<Product>;
    var categoryName = ViewBag.categoryName;

    ViewData["Title"] = "Sản phẩm " + (categoryName != null ? categoryName : "");
    Layout = "_Layout";
}

@if (filteredProducts != null)
{
    <div class="home-page">
        <section>
            <div class="section__title">Danh mục: @categoryName</div>

            <div class="home__products">
                @foreach (Product product in filteredProducts)
                {
                    <a class="product" asp-controller="product" asp-action="productDetail" asp-route-name="@product.Name">
                        <img class="product__img" src="~/images/products/@product.Image" alt="afjawf" />
                        <div class="product__name">@product.Name</div>
                        <div class="product__old-price">
                            @if (product.HotPrice != null)
                            {
                                <span>@product.Price.ToString("0,000")</span>
                            }

                            @if (product.IsFreeShip == true)
                            {
                                <div>
                                    <i class="bi bi-truck"></i>
                                    <span>Free</span>
                                </div>
                            }
                        </div>
                        <div class="product__price">
                            @if (product.HotPrice != null)
                            {
                                @product.HotPrice?.ToString("0,000")
                            }
                            else
                            {
                                @product.Price.ToString("0,000")
                            }
                            đ
                        </div>
                    </a>
                }
            </div>
        </section>
    </div>
}